.footer {
  background: linear-gradient(135deg, #1e3a8a, #163172);
  color: white;
  margin-top: 80px;
  padding: 60px 80px 25px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 250px;
}

.footer h2 {
  font-size: 32px;
  margin-bottom: 18px;
}

.footer h3 {
  font-size: 22px;
  margin-bottom: 18px;
  color: #facc15;
}

.footer p {
  margin: 10px 0;
  color: #ddd;
  line-height: 1.7;
}

/* ---------- Links ---------- */

.footer a {
  display: block;
  color: #ddd;
  text-decoration: none;
  margin: 10px 0;
  transition: all 0.3s ease;
}

.footer a:hover {
  color: #facc15;
  transform: translateX(5px);
}

/* ---------- Divider ---------- */

.footer hr {
  margin: 40px 0 20px;
  border: none;
  height: 1px;
  background: rgba(255,255,255,.25);
}

/* ---------- Copyright ---------- */

.copyright {
  text-align: center;
  color: #ccc;
  font-size: 15px;
  letter-spacing: .5px;
}

/* ---------- Mobile ---------- */

@media (max-width: 768px) {

  .footer {
    padding: 40px 25px 20px;
    text-align: center;
  }

  .footer-container {
    flex-direction: column;
    gap: 35px;
  }

  .footer-section {
    min-width: 100%;
  }

  .footer h2 {
    font-size: 28px;
  }

  .footer h3 {
    font-size: 20px;
  }

  .footer a:hover {
    transform: none;
  }

}